a{
    text-decoration: none;
}
body{
    background-color: white;
}
.sections{
    display: inline-block;
}
.js-side{
    /* background: url(./images/jam.jpg) no-repeat; */
    border: 1px solid black;
    background-size: cover;
    /* 투명도 설정 */
    /* display: inline-block; */
    width: 300px;
    height: 754px;
}
.title{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20;
}
.toDo{
    margin: 20px;
}
.js-clock{
    text-align: center;
    font-size: 48px;
}
.js-main{
    width: 700px;
    height: 754px;
    /* display: ; */
    border: 1px solid black;
}

#main-title{
    margin: 0;
    font-size: 20px;
}
#descript{
    margin-top: 0;
    font-size: 14px;
}
#toDo-title{
    font-size: 20px;
    margin-bottom: 8px;
}
.js-navi{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    text-align: center;
}
.js-toDoList{
    list-style: '⊙';
}